doctype html
html(lang="en")
    head
        title Yaroslav Hyrych Personal Site
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(href="css/skeleton.css", rel="stylesheet")
        link(href="css/normalize.css", rel="stylesheet")
        link(href="css/style.css", rel="stylesheet")
        script(src="js/jquery.min.js")
        script(src="js/app.js")
    include ./mixins/mixin
    body
        section.u-full-width#front-page
            header.u-full-width
                nav.container.row
                    //ul.six.columns
                        //li 1
                        //li 3
                        //li 4
                        //li 5
                    ul.twelve.columns
                        + contact('contact-skype', 'toorist3')
                        + contact('contact-linkedin', 'Link to profile', 'https://www.linkedin.com/profile/view?id=AAIAABj1qTUBAn0U_IBuddZV_vyPe_lXSMsfM3g&trk=nav_responsive_tab_profile_pic')
                        + contact('contact-instagram', 'Link to profile', 'https://www.instagram.com/yarkogyrych/')

            .container#my-name
                h1  YAROSLAV HYRYCH
                h5  Web Developer

            #pc
            //.phone


        section#content.u-full-width

            header.container
                h1 MY PROJECTS

            + project('first', 'img/project_1.png', '#', 'Some program', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')
            + project('second', 'img/project_1.png', '#', 'Some program', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')
            + project('third', 'img/project_1.png', '#', 'Some program', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')
            + project('fourth', 'img/project_1.png', '#', 'Some program', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')

    #popup Ololo