doctype html
html(lang="en")
    head
        title My site
        link(href="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css", rel="stylesheet")
    body
        header.container
            div.row
                nav.col-md-8 Programs
                nav.col-md-8 Menu
            div.row
                div.col-md-12.text-center
                    div
                        | YAROSLAV HYRYCH
                        div.text-right Web Developer
                            //http://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_theme_me_complete&stacked=h