doctype html
html(lang="en")
    head
        title Yaroslav Hyrych Personal Site
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(href="css/skeleton.css", rel="stylesheet")
        link(href="css/normalize.css", rel="stylesheet")
        link(href="css/jquery.jscrollpane.css", rel="stylesheet")
        link(href="css/style.css", rel="stylesheet")
        script(src="js/jquery.min.js")
        script(src="js/jquery.mousewheel.js")
        script(src="js/jquery.jscrollpane.min.js")
        script(src="js/slideout.js")
        script(src="js/app.min.js")

    include ./mixins/mixin

    -
        var contacts = [
            {'class': 'contact-linkedin', 'title': 'Link to profile', 'url': 'https://www.linkedin.com/profile/view?id=AAIAABj1qTUBAn0U_IBuddZV_vyPe_lXSMsfM3g&trk=nav_responsive_tab_profile_pic'},
            {'class': 'contact-instagram', 'title': 'Link to profile', 'url': 'https://www.linkedin.com/profile/view?id=AAIAABj1qTUBAn0U_IBuddZV_vyPe_lXSMsfM3g&trk=nav_responsive_tab_profile_pic'},
            {'class': 'contact-skype', 'title': 'toorist3'}
        ];

        var projects = [
            { 'name': 'Some program',  'img': 'img/project_1.png', 'class': 'first', 'url': '#', 'description': 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'},
            { 'name': 'Some program',  'img': 'img/project_1.png', 'class': 'second shadow', 'url': '#', 'description': 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'},
            { 'name': 'Some program',  'img': 'img/project_1.png', 'class': 'third inset-shadow', 'url': '#', 'description': 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'},
            { 'name': 'Some program',  'img': 'img/project_1.png', 'class': 'fourth', 'url': '#', 'description': 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'}
        ];

        var skills = [
            { 'name': 'Java',  'img': 'img/java.gif'},
            { 'name': 'HTML5 & CSS3',  'img': 'img/htmlcss.gif'},
            { 'name': 'JavaScript',  'img': 'img/js.gif'},
            { 'name': 'GWT',  'img': 'img/gwt.gif'},
            { 'name': 'jQuery',  'img': 'img/jquery.gif'},
            { 'name': 'SASS',  'img': 'img/sass.gif'},
            { 'name': 'Bootstrap',  'img': 'img/bootstrap.gif'},
            { 'name': 'Grunt',  'img': 'img/grunt.gif'},
            { 'name': 'Jade',  'img': 'img/jade.gif'}
        ];

    body
        aside#menu
            h2 MENU

            section.container
                h3 MY PROJECTS

                each project in projects
                    a(href= project.url).row
                        .u-pull-left
                            img(src= project.img)
                        .name=  project.name

            section.container
                h3 WORK WITH

                each skill in skills
                    .row
                        .u-pull-left
                            img(src= skill.img)
                        .name=  skill.name

        main#main
            section.u-full-width#front-page
                header.u-full-width
                    nav.container.row
                        ul.twelve.columns
                            each contact in contacts
                                + contact(contact)
                .container#my-name
                    h1  YAROSLAV HYRYCH
                    h5  Web Developer

                #device

            section.content.u-full-width

                header.container
                    h1 MY PROJECTS

                each project in projects
                    + project(project)

            section.content.u-full-width.inset-shadow#skills
                header.container
                    h1 WORK WITH

                .container.row
                    + skill('img/java.gif')
                    + skill('img/htmlcss.gif')
                    + skill('img/js.gif')
                .container.row
                    + skill('img/gwt.gif')
                    + skill('img/jquery.gif')
                    + skill('img/sass.gif')
                .container.row
                    + skill('img/bootstrap.gif')
                    + skill('img/grunt.gif')
                    + skill('img/jade.gif')

        #menu-btn
            span.line_0
            span.line_1
            span.line_1
            span.line_2

    #popup