doctype html
html(lang="en")
    head
        title Yaroslav Hyrych Personal Site
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(href="css/skeleton.css", rel="stylesheet")
        link(href="css/normalize.css", rel="stylesheet")
        link(href="css/style.css", rel="stylesheet")
        script(src="js/jquery.min.js")
        script(src="js/app.js")
    body
        section.u-full-width#front-page
            header.u-full-width
                nav.container.row
                    //ul.six.columns
                        //li 1
                        //li 3
                        //li 4
                        //li 5
                    ul.twelve.columns
                        li
                            .contact-skype(text="toorist3")
                        li
                            .contact-linkedin
                        li
                            .contact-instagram
                        li
                            .contact-facebook
                        li
                            .contact-gihthub
                        li
                            .contact-email
                        li
                            .contact-app-tore
                        li
                            .contact-google-play

            .container#my-name
                h1  YAROSLAV HYRYCH
                h5  Web Developer

            #pc
            //.phone


        section#content.u-full-width

            header.container
                h1 MY PROJECTS

            article.u-full-width.first
                .container
                    .four.columns.project-logo
                        img(src='img/project_1.png')
                    .eight.columns
                        header
                            h4 Some program
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            | lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            | lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        footer
                            .button VIEW DETAILS


            article.u-full-width.second
                .container
                    .four.columns.project-logo
                        img(src='img/project_1.png')
                    .eight.columns
                        header
                            h4 Some program
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            | lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            | lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        footer
                            .button VIEW DETAILS

            article.u-full-width.third
                .container
                    .four.columns.project-logo
                        img(src='img/project_1.png')
                    .eight.columns
                        header
                            h4 Some program
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            | lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            | lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        footer
                            .button VIEW DETAILS

            article.u-full-width.fourth
                .container
                    .four.columns.project-logo
                        img(src='img/project_1.png')
                    .eight.columns
                        header
                            h4 Some program
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            | lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            | lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        footer
                            .button VIEW DETAILS