doctype html
html(lang="en")
    head
        title Yaroslav Hyrych Personal Site
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(href="css/skeleton.css", rel="stylesheet")
        link(href="css/normalize.css", rel="stylesheet")
        link(href="css/style.css", rel="stylesheet")
        script(src="js/jquery.min.js")
        script(src="js/app.min.js")
    include ./mixins/mixin
    body
        section.u-full-width#front-page
            header.u-full-width
                nav.container.row
                    ul.twelve.columns
                        + contact('contact-linkedin', 'Link to profile. Click again to go', 'https://www.linkedin.com/profile/view?id=AAIAABj1qTUBAn0U_IBuddZV_vyPe_lXSMsfM3g&trk=nav_responsive_tab_profile_pic')
                        + contact('contact-instagram', 'Link to profile. Click again to go', 'https://www.instagram.com/yarkogyrych/')
                        + contact('contact-skype', 'toorist3')
            .container#my-name
                h1  YAROSLAV HYRYCH
                h5  Web Developer

            #pc

        section.content.u-full-width

            header.container
                h1 MY PROJECTS
            -
                var projects = [
                    { name: 'Some program',  img: 'img/project_1.png', class: 'first', url: '#', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'},
                    { name: 'Some program',  img: 'img/project_1.png', class: 'second shadow', url: '#', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'},
                    { name: 'Some program',  img: 'img/project_1.png', class: 'third inset-shadow', url: '#', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'},
                    { name: 'Some program',  img: 'img/project_1.png', class: 'fourth', url: '#', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'}
                ];
            each project in projects
                + project(project)

        section.content.u-full-width.inset-shadow#skills
            header.container
                h1 WORK WITH

            .container.row
                + skill('img/java.gif')
                + skill('img/htmlcss.gif')
                + skill('img/js.gif')
            .container.row
                + skill('img/gwt.gif')
                + skill('img/jquery.gif')
                + skill('img/sass.gif')
            .container.row
                + skill('img/bootstrap.gif')
                + skill('img/grunt.gif')
                + skill('img/jade.gif')

    #popup