//@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100&subset=latin,cyrillic-ext,cyrillic')
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,300,600&subset=latin,cyrillic-ext,cyrillic')
@import 'vendor/skeleton'
@import 'vendor/slideout'
@import "modules/variables"
@import "modules/mixins"
@import "partials/projects"
@import "partials/skills"
@import "partials/frontpage"

body
  font-family: $font-family
  color: $color
  margin: 0
  padding: 0

h1
  font-size: 6rem

.inset-shadow
  box-shadow: inset 0 0 10px rgba(0,0,0,0.5)

.shadow
  box-shadow: 0 0 10px rgba(0,0,0,0.5)

#popup
  position: absolute
  display: none
  padding: 0.5em 1.5em
  border-radius: 0.5em
  color: #ffffff
  background: rgba(0,0,0, 0.5)
  z-index: 999999

// Content
section.content

  > header
    text-align: center
    cursor: pointer

    @include respond-to-portrait(phone)
      text-align: center

    a
      text-decoration: none
      color: $color

    h1
      margin: 0
      padding: 0.67em 0

      @include respond-to-portrait(phone)
        font-size: 4rem

      @include respond-to-portrait(phablet)
        font-size: 4rem

      //@include respond-to-portrait(medium-screens)
      //  font-size: 4rem

  article
    padding: 2rem 0

    header
      margin-top: 3rem

      @include respond-to-portrait(phone)
        text-align: center

    .project-logo
      margin-top: 3rem

      img
        width: 100%

  footer
    text-align: right
    margin-top: 2rem

    @include respond-to-portrait(phone)
      text-align: center

// Animation container
article > .container, #skills img
  opacity: 0
  transform: translateY(40px)
  transition: all 0.5s ease-in-out

  &.isShowing
    opacity: 1
    transform: translateY(0px)

#main
  background: #ffffff

#menu
  width: 300px
  background: #1C1C1C


#menu-btn
  position: fixed
  top: 0
  left: 0
  width: 40px
  height: 40px
  z-index: 100
  margin: 4px 18px

  span
    width: 100%
    height: 2px
    background: #fff
    margin: 8px 0
    display: block
    position: absolute

    @for $i from 0 through 2
      &.line_#{$i}
        top: $i * 12px