#skills
  background:
    image: url(../img/wood_background.png)
    repeat: repeat
    attachment: fixed
  text-align: center
  margin: 0
  padding-bottom: 3em

  header
    color: $light-color

  img
    border: 1em solid #ffffff
    border-radius: 10%
    margin: 1em
    box-shadow: 0 5px 15px 1px rgba(0,0,0,0.5)

